@{
    ViewData["Title"] = "Cuenta Confirmada";
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        Gracias por verificar tu cuenta. Ya puedes iniciar sesion con tu cuenta de travel expenses
    </p>
</div>
